<%- include('partials/header') %>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading">The Narrative Analyzer</div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <p>This is where about section info will go</p>
                  </div>
                
            </div>
        </section>


        <!-- Footer-->
<%- include('partials/footer') %>