<%- include('partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-heading">The Narrative Analyzer</div>
  </div>
</header>
<!-- About-->
<section class="page-section" id="about">

    <div class="jumbotron justify-content-center text-center">
        <h1 class="display-4">What the Narrative Analyzer is</h1>
        <p class="lead">Effectively, this is just a gradebook. However, it has the addition functionality to analyze the data of the students.</p>
        <hr class="my-4">
        <p>
            As a teacher at a progressive school, twice a year I would have to write
            a narrative for each student. A narrative is effectively a paragraph or
            so of text assessing the student in a number of ways.
          </p>
    
          <p>
            An aspect of my narratives I was always curious about was if different
            aspects of a student's identity correlated at all with my narratives.
            For instance, a student's grade level, gender, height, or any other
            self-perceivable metric changed the way I wrote my narratives.
          </p>
    
          <p>
            In addition to this being a gradebook, it has some limited functionality
            in terms of being able to analyze the narratives quantifiably. As I did
            not want to inject any of my own bias into the results, the results are
            basically raw data, rather than conclusive in any specific way.
          </p>
      </div>

</section>

<!-- Footer-->
<%- include('partials/footer') %>
