<%- include('partials/header') %>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To The Narrative Analyzer!</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="/about">About the Narrative Analyzer</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">What would you like to do?</h2>
                </div>
                <div class="row text-center">

                    <a class="card col-md-4 services" href="/students/new">
                        <h4 class="my-3">Add Students</h4>
                        <p class="text-muted">Add new students.</p>
                    </a>

                    <a class="card col-md-4 services" href="/narratives/new">
                        <h4 class="my-3">Add Narrative</h4>
                        <p class="text-muted">Add a new narrative.</p>
                    </a>

                    <a class="card col-md-4 services" href="/categories">
                        <h4 class="my-3">View Categories</h4>
                        <p class="text-muted">View, edit, and create categories.</p>
                    </a>

                    <a class="card col-md-4 services" href="/students">
                        <h4 class="my-3">View Students</h4>
                        <p class="text-muted">View and edit existing students.</p>
                    </a>

                    <a class="card col-md-4 services" href="/narratives">
                        <h4 class="my-3">View Narratives</h4>
                        <p class="text-muted">View and edit existing narratives.</p>
                    </a>

                    <a class="card col-md-4 services" href="/results">                        
                        <h4 class="my-3">View Results</h4>
                        <p class="text-muted">View the analyzed results of the narratives.</p>
                    </a>   
                
            </div>
        </section>

        <!-- Footer-->
<%- include('partials/footer') %>