<%- include('partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-heading">Profile</div>
  </div>
</header>
<!-- About-->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <p>Change Password</p>
      <p>Logout</p>
    </div>
  </div>
</section>

<!-- Footer-->
<%- include('partials/footer') %>
