<%- include('partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-heading">Search Results</div>
  </div>
</header>
<!-- About-->
<section class="page-section" id="about">
  <div class="container">
      
  </div>
</section>

<!-- Footer-->
<%- include('partials/footer') %>
