<%- include('../partials/header') %>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Students</div>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="students">
            <p>These are the students</p>
        </section>
        <!-- Footer-->
<%- include('../partials/footer') %>