<%- include('../partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading"><%=title%></div>
  </div>
</header>
<!-- Services-->
<section class="page-section" id="students">
  <div class="container">
    <h3 class="d-flex justify-content-center">Add a Student</h3>
    <form action="/students" method="post">
      <div class = "d-flex justify-content-center">
      <input
        class="form-control w-25 mb-4 text-center"
        placeholder="Student's Name"
        type="text"
        name="name"
      />
    </div>

      <div class="d-flex justify-content-center">
      <button class="btn btn-lg btn-primary" type="submit">Add Student</button>
    </div>
    </form>
  </div>
</section>
<!-- Footer-->
<%- include('../partials/footer') %>
