<%- include('../partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Categories</div>
  </div>
</header>
<!-- Services-->
<section class="page-section" id="categories">
  <div class="container">
    <h3 class="d-flex justify-content-center">Defined Categories</h3>
    <ul class="list-group list-group-flush">
      <% categories.forEach(category => { %>
      <li class="list-group-item">
        <div class="my-1">
        <a href="categories/<%-category._id%>"><%=category.name%></a>
      </div>
      </li>
      <% }) %>
    </ul>
    <form action="/categories" method="post">
      <div class="d-flex justify-content-center mb-4">
        <input
          class="form-control w-25 text-center"
          placeholder="Add a New Category"
          type="text"
          name="name"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-lg btn-primary" type="submit">
          Add Category
        </button>
      </div>
    </form>
  </div>
</section>
<!-- Footer-->
<%- include('../partials/footer') %>
