<%- include('../partials/header') %>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Narratives</div>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="narratives">
            <p>These are the narratives</p>
        </section>
        <!-- Footer-->
<%- include('../partials/footer') %>